body {
	background-color: #FFE4E1;
	background-size: cover;
	text-align: center;

}

header {
	text-align: right;
}

nav {
	display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


h1 {
	text-align: center;
	font-size: 65px;
	font-family: 'Permanent Marker', cursive;
}

h2 {
	font-family: 'Abril Fatface', cursive;
}

#slogan {
	text-align: center;
	font-size: 18px;
	font-style: none

}

ul {
	font-family: 'Permanent Marker', cursive;
	font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
