 .button {
    background-color: #FFE6E6;
    border: 2px black solid;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

header {
    background-color: #FFED74;
}

nav {
    background-color: #E8C66A;
    border: 2px black solid;
    padding: 20px;
    list-style: none;
    display: flex;
    float: right;
    word-spacing: 60px;
}

.bgimg {
    background-image: url("il_fullxfull.310731175.jpg");
    height: 100%;
    position: relative;
    opacity: 0.87;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font: 400 15px "Lato", sans-serif;
    text-align: center;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    text-align: center;
}

footer {
    background-color: #FF957E;
    border: 2px black solid;
    padding: 20px;
}
