.bgimg {
    background-image: url("il_fullxfull.310731175.jpg");
    height: 100%;
    position: relative;
    opacity: 0.87;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font: 400 15px "Lato", sans-serif;
    text-align: center;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    text-align: center;
}

#footernav nav {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-decoration: none;
    height: 3em;
    font-size: 20px;
    padding: 10px;
    float: none;
    margin: auto;
    box-sizing: border-box;
    text-align: right;
}

.media {
    font-size: 20px;
    color: grey;
    width: 100%;
    padding: .6em;
    margin: auto;
    padding: auto;
    text-align: right;
}

footer {
    margin: auto;
    box-sizing: border-box;
    text-align: right;
    font-size: 16px;
}



