body {
	background-color: #ffffff;
	background-image: url('https://www.fg-a.com/wallpapers/white-marble-1-2018.jpg');
	background-size: cover;

}
header {
	text-align: right;
}
h1 {
	text-align: center;
	font-size: 43px;
}

#slogan {
	text-align: center;
}

#slogan {
	font-size: 20px;

}

